#birthday, #landingpage{
    height: 100vh;
    width:100vw;
}
*{
scroll-behavior: smooth;
}

#birthday{
    width: 80%;
    margin: auto;
    height: 92vh;
    
}
.errors{
   
    width: 500px;
    height: 100px;
    background: red;
    padding: 10px;
    font-size: 15px;
    color: #fff;
    text-align: center;
    margin:auto;
    overflow: hidden;
    border-radius: 5px;
    font-size: bolder;
}